.row{
  display: flex;
  justify-content: space-between;
}
.info{
  color:rgb(122, 119, 116);
  margin-bottom: 50px;
  padding: 15px;
}
.details{
  list-style-type: unstyled; 
  padding-left: 100px;
  margin-bottom: 5px;
}